@import url('https://fonts.googleapis.com/css2?family=Josefin&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
    /* Primary Colors */
    --background-gradient-1:hsl(192, 100%, 67%);
    --background-gradient-2: hsl(280, 87%, 65%);
    --bright-blue: hsl(220, 98%, 61%);
    --strong: 600;
    --light: 400;
	/* Dark Theme Colors */
	--very-dark-blue: hsl(235, 21%, 11%);
	--very-dark-desaturated-blue: hsl(235, 24%, 19%);
	--light-grayish-blue: hsl(234, 39%, 85%);
	--light-grayish-blue-hover: hsl(236, 33%, 92%);
	--dark-grayish-blue: hsl(234, 11%, 52%);
	--very-dark-grayish-blue: hsl(233, 14%, 35%);
	--very-dark-grayish-blue-alt: hsl(237, 14%, 26%);

    /* Light Theme Colors */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* dark theme is default */
    --text-primary: var(--light-grayish-blue);
    --text-secondary: var(--dark-grayish-blue);
    --button-primary: var(--very-dark-grayish-blue);
    --button-hover: var(--very-light-grayish-blue);
    --button-current: var(--light-grayish-blue-hover);
    --outline:  var(--very-dark-grayish-blue-alt);
    --surface-1: var(--very-dark-desaturated-blue);
    --surface-2: var(--very-dark-blue);
    --background-color: var(--very-dark-blue);
    --background-img: url("/images/bg-desktop-dark.jpg");
}

[data-theme="light"]{
    /* --background-gradient-1: hsl(280, 87%, 65%);
    --background-gradient-2:hsl(192, 100%, 67%); */
    /* light theme Colors */
    --text-primary: var(--very-dark-grayish-blue-alt);
    --text-secondary: var(--dark-grayish-blue);
    --button-primary: var(--dark-grayish-blue);
    --button-hover: var(--very-dark-desaturated-blue);
    --button-current: var(--light-grayish-blue-hover);
    --outline:  var(--very-dark-grayish-blue);
    --surface-1: var(--very-light-gray);
    --surface-2: var(--very-dark-blue);
    --background-color: var(--very-light-grayish-blue);
    --background-img: url("/images/bg-desktop-light.jpg");
}

/* for completed todos */
.completed{
    text-decoration: line-through;
    color: var(--text-secondary)
}

html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jose fin";
    font-size: 18px;
}

input[type='text'] {
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
    width: 90%;
    margin-left: 1em;
    /* padding: 0; */
    &:focus {
        border: none;
        outline: none;
    }
}

input[type='checkbox'] {
    appearance: none; 
    position: relative;
    border-radius: 100%;
    border: 1.5px solid var(--outline);
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    /* padding: 0.8rem; */
    &:hover:not(:checked){
        border: 1.8px solid transparent;
        border-radius: 100%;
        background: linear-gradient(var(--surface-1)) padding-box,
        linear-gradient(90deg, var(--background-gradient-1), var(--background-gradient-2)) border-box
        ;
    }
    &:checked{
        background: linear-gradient(90deg, var(--background-gradient-1), var(--background-gradient-2));
    }

    &:checked::before{
        content: url("/images/icon-check.svg");
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0.8rem; 
        transform: translate(-50%, -50%);
    }
}


@layer components {
    .header-wrapper{
        @apply row-start-1 row-end-1
    }

    .form-wrapper{
        @apply row-start-2 row-end-2 rounded-md
    }

    .empty-space{
        @apply row-start-3 row-end-3 bg-none contents backface-hidden
    }

    .list-wrapper{
        @apply row-start-4 row-end-4 rounded-t-md 
    }

    .actions{
        @apply row-start-5 row-end-5 grid grid-cols-[auto_1fr_auto] w-full text-sm content-center rounded-b-md
    }

    .todo-item{
        @apply flex w-full flex-row items-center justify-start py-2 px-4 border-b-[0.1em] border-b-[rgba(245,245,245,0.1)]
    }
}